.contenedor-flexible{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  

  background-color: blueviolet;
  border: 2px solid black;
  width: 600px;
  height: 500px;
  color: white;
}

.boxy{
  /* width: 100px; */
  /* height: 100px; */
  background-color: orange;
  border: 2px solid black;
  font-size: 2rem;
}

.boxy img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}