header{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}
.menu{
    display:flex;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.menu .Logo{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 18px;
    display: flex;
    
}

.menu .botonescentro{
    position: absolute;
    left: 50%;
    top: 20%;
    display: flex;
    gap: 1px;
    transform: translateX(-50%);

}
.menu .botonesright{
    position:absolute;
    left: 100%;
    display: flex;
    gap: 4px;
    transform: translateX(-135%);
    border-color: rgb(242,242,242);
    top: 20%;
}
.menu .botonesright button{
    padding: 0.1px;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    color: #171a20;
}
.menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -.2px;
    color: #26292f;
    padding: 8px 16px;
    border-radius: 4px;

}
.menu .Logo:hover{
    background-color: transparent;
} 
.menu button:hover{
    background-color: rgb(242,242,242);
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.modelos{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    color: white;
    padding-top: 55px;
}
.modelos .modelY{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 35px;
}
.contenido-Model-Y{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    width: 100%;
    padding-top: 55px;
}
.modelos h1{
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 52px;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}
.subtitulo-Model-Y{
    font-size: 13px;
    margin-top: -15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
.botones-Model-Y{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}
.botones-Model-Y button{
    padding: 12px 55px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0px;
}
.btn-ordenar{background-color: #3e6ae1; color: white;}
.btn-inventario{color: #393c41; background-color: white;}

.slider-falso {
    display: flex;
    width: 100%;
    height: 95vh;
    gap: 15px;
    box-sizing: border-box;
    position: relative;  
    padding-left: 50px;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.tarjeta {
    position: relative;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.principal {
    flex: 0 0 80%;
}
.secundaria {
    flex: 1;
    opacity: 0.9;
}
.secundaria .img-fondo{
    object-position: left center;
}
.img-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag-arriba {
    position: absolute;
    top: 20px;
    left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.info-abajo {
    position: absolute;
    bottom: 40px;        
    left: 40px;         
    width: 100%;
}

.info-abajo h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 600;
}

.subrayado {
    font-size: 18px;
    margin-top: 5px;
    text-decoration: underline;
    font-weight: 500;
}

.botones-accion {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    gap: 8px;
    flex-wrap: nowrap;
}
.secundaria .botones-accion {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 68%;
    align-items: stretch;
    padding-right: 10px;
}

.botones-accion button {
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn-azul {background-color: #3e6ae1; color: white;}
.btn-blanco { background-color: white; color: #46494e; }
.flecha-deco {
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: default;
    z-index: 10;
}

.puntos-slider {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}
.punto {
    width: 12px;
    height: 12px;
    background-color: #8b8c8f;
    border-radius: 50%;
}
.punto.activo {
    background-color: #171a20;
}

.ofertas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 0 45px;
    padding-left: 50px;
    padding-top: 30px;
    margin-bottom: 40px;
    max-width: 100%;
    box-sizing: border-box;
}

.tarjeta-promo {
    background-color: rgb(244,244,244);
    border-radius: 8px;
    display: flex;
    height: 225px;
    overflow: hidden;
}


.contenido-promo {
    flex: 1;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contenido-promo h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2px;
    margin: 0 0 10px 0;
    color: #171a20;
}

.contenido-promo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(103,105,109);
    margin: 0 0 20px 0;
    line-height: 1.4;
    color: #7f8184;
}


.btn-promo {
    background-color: white;
    border: 3px solid white;
    border-radius: 4px;
    padding: 8px 85px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    color: #46494e;
}

.btn-promo:hover {
    background-color:rgb(223,223,223);
    border-color: rgb(223, 223, 223);
}

.imagen-promo {
    width: 34%;
    height: 100%;
    position: relative;
}

.imagen-promo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.caracteristicas {
    display: grid;
    grid-template-columns: 1.6fr 0.75fr; 
    gap: 25px;
    padding: 0 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
    height: 575px;
    box-sizing: border-box;
}

.tarjeta {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.media-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.contenido-media {
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    width: 90%;
}

.contenido-media h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 34px;
    font-weight: 650;
    margin: 0 0 20px 0;
    text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}


.botones-media {
    display: flex;
    gap: 8px;
}

.botones-media button {
    padding: 12px 45px;
    border-radius: 4px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12.5px;
    letter-spacing: -.2px;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 60px 0 90px 0; 
    display: flex;
    justify-content: center;
    background-color: white;
}

.lista-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.lista-footer li {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .4px;
    color: #646669;
    cursor: pointer;
}

.lista-footer li a {
    text-decoration: none;
    color: #646669;
    transition: color 0.2s;
    cursor: pointer;
}


.barra-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.08);
    z-index: 1000;
    box-sizing: border-box;
}


.chat-input-falso {
    width: 450px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: text;
    border: 1px solid transparent;
}

.chat-contenido-izq {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5c5e62;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.icono-mensaje {
    color: #5c5e62;
    font-size: 16px;
}


.icono-flecha-box {
    background-color: #e2e2e2;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}


.btn-schedule {
    height: 40px;
    padding: 0 25px;
    background-color: white;
    border: 1px solid #d0d1d2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #171a20;
    cursor: pointer;
    transition: background-color 0.2s;
}

.icono-volante {
    color: #3e6ae1;
    font-size: 18px;
}

.btn-schedule:hover {
    background-color: #f4f4f4;
}