header{
    width: 100%;
  
}
.menu{
    display:flex;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.menu .Logo{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 18px;
    display: flex;
    
}


.menu .botonescentro{
    position: absolute;
    left: 50%;
    top: 20%;
    display: flex;
    gap: 1px;
    transform: translateX(-50%);

}
.menu .botonesright{
    position:absolute;
    left: 100%;
    display: flex;
    gap: 4px;
    transform: translateX(-135%);
    border-color: rgb(242,242,242);
    top: 20%;
}
.menu .botonesright button{
    padding: 0.1px;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    color: #171a20;
}
.menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -.2px;
    color: #26292f;
    padding: 8px 16px;
    border-radius: 4px;

}
.menu .Logo:hover{
    background-color: transparent;
} 
.menu button:hover{
    background-color: rgb(242,242,242);
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.modelos{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    color: white;
}
.modelos .modelY{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.contenido-Model-Y{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    width: 100%;
}
.modelos h1{
    font-size: 60px; /* Tamaño grande */
    font-weight: 600;
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 52px;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}
.subtitulo-Model-Y{
    font-size: 13px;
    margin-top: -15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
.botones-Model-Y{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}
.botones-Model-Y button{
    padding: 12px 55px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0px;
}
.btn-ordenar{background-color: #3e6ae1; color: white;}
.btn-inventario{color: #393c41; background-color: white;}