.box{
    background-color: blueviolet!important;
}

h2{
    background-color: chartreuse;
}

#unicoBox{
    background-color: aquamarine;
}

.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

/* Escenario plataformas */
        .escenario {
            position: relative;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(to bottom, #87CEEB 0%, #98D8C8 50%, #6B8E23 100%);
            overflow: hidden;
        }
        .cielo {
            position: absolute;
            top: 0;
            width: 100%;
            height: 40%;
            background: linear-gradient(to bottom, #87CEEB, #B0E0E6);
        }
        .sol {
            position: absolute;
            top: 50px;
            right: 100px;
            width: 80px;
            height: 80px;
            background: #FFD700;
            border-radius: 50%;
            box-shadow: 0 0 40px #FFA500;
        }
        .nube {
            position: absolute;
            background: white;
            border-radius: 100px;
            opacity: 0.8;
        }
        .nube1 {
            top: 80px;
            left: 15%;
            width: 100px;
            height: 40px;
        }
        .nube2 {
            top: 120px;
            right: 20%;
            width: 120px;
            height: 45px;
        }
        .bosque-fondo {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60%;
            background: linear-gradient(to bottom, #228B22, #355E3B);
        }
        .suelo {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80px;
            background: #8B4513;
            border-top: 5px solid #654321;
        }
        .pasto {
            position: absolute;
            bottom: 80px;
            width: 100%;
            height: 30px;
            background: #228B22;
        }
        .plataforma {
            position: absolute;
            background: #8B4513;
            border: 3px solid #654321;
            border-radius: 10px;
        }
        .plataforma1 {
            bottom: 200px;
            left: 15%;
            width: 200px;
            height: 25px;
        }
        .plataforma2 {
            bottom: 350px;
            left: 40%;
            width: 180px;
            height: 25px;
        }
        .plataforma3 {
            bottom: 250px;
            right: 20%;
            width: 220px;
            height: 25px;
        }